body {
   
    background-image: repeating-linear-gradient(90deg, hsla(280,0%,67%,0.06) 0px, hsla(280,0%,67%,0.06) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, hsla(280,0%,67%,0.06) 0px, hsla(280,0%,67%,0.06) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, hsla(280,0%,67%,0.09) 0px, hsla(280,0%,67%,0.09) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(90deg, hsla(280,0%,67%,0.09) 0px, hsla(280,0%,67%,0.09) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, hsl(226,47%,26%),hsl(226,47%,26%));
  }
  h1 {
    text-align: center;
    color: #efeaeaf5; /* Color del texto, negro */
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  button:hover {
    background-color: #cc0000; /* Cambio de color al pasar el ratón sobre el botón */
  }